<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.content %>
</p>

<%= form_with url: article_comments_path(@article), local: true do |form| %>
      <%= form.label :email %>
      <%= form.text_field :email %>
      <br \>
      <%= form.label :comment %>
      <%= form.text_area :comment %>
      <br \>
      <%= form.submit %>
<% end %>

<% if @article.comments.any? %>
  <% @article.comments.each do |comment| %>
    <p>
      <%= "Commented by: #{comment.email}" %>
    </p>
    <p>
      <%= comment.content %>
    </p>
  <% end %>
<% end %>